@use '../../../assets/styles/styles.scss' as *;
@import '../../../assets/styles/variables.scss';

.imageSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cover {
  width: 100vw;
  &__title {
    @include font-face-playfair-display(60px, 400, 84px);
    color: $colorWhite;
    position: absolute;
    top: 420px;
    right: 80px;
    opacity: 0.85;
  }
}