.cursor1 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(197, 192, 192, 0.5);
  opacity: 1;
  visibility: inherit;
  border-color: rgba(197, 192, 192, 0.5);
  position: absolute;
  transition-duration: 100ms;
  transition-timing-function: ease-out;
  pointer-events: none; 
}

.cursor2 {
  width: 60px;
  height: 60px;
  border: 4px dotted;
  border-radius: 50%;
  border-color: rgba(197, 192, 192, 0.5);
  position: absolute;
  transition-duration: 100ms;
  transition-timing-function: ease-out;
  animation: rotate 3s linear infinite;
  pointer-events: none; 
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}