.africa__header {
  position: fixed; /* фиксированное позиционирование */
  width: 100%; /* ширина по всей ширине экрана */
  top: 0; /* располагаем вверху */
  z-index: 1000; /* задаем z-index для управления слоями */
}
  