@import './fonts.scss';

//colors
$colorWhite: #ffffff;
$colorLight: #FAF7F3;
$colorLink: #C7B4A5;
$colorMedium: #B29C89;
$colorBold: #BA7F49;
$colorGrey: #464E4D;
$colorDark: #0A0A0A;


//sizes
$sizeContainerLarge: 1920px;
$sizeContainer: 1372px;
$sizeExtraLarge: 1200px;
$sizeLarge: 950px;
$sizeMedium: 650px;
$sizeSmall: 576px;

@mixin width-height($width, $height: $width) {
	width: $width;
	height: $height;
}

@mixin flex-grid($display, $direction, $justify, $align) {
	display: $display;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}
